# Папка и файлы конфигурации для .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.pdb
*.mdb
*.opendb

# Visual Studio
.vscode/
.vs/
.idea

# Rider
.idea_modules/
*.sln.iml

# Visual Studio Code
.vscode-test/

# NuGet пакеты
*.nupkg
# NuGet пакеты с таймштампами
*.snupkg
# NuGet пакеты и кэш
.nuget/packages/
# Файлы блокировки зависимостей
project.lock.json
project.fragment.lock.json
artifacts/

# Статистика автоформатирования и индексирования
_ReSharper*/ 
*.DotSettings.user
_ReSharper.Caches/
*.resharper-user
resharper.xml

# Папка с пользовательскими таймштампами и файлами конфигураций
*.tmproj
# Mac OS системные файлы
.DS_Store

# Лог-файлы
*.log
*.trace
